VITE_EMAILJS_SERVICE_ID=ISI_DENGAN_SERVICE_ID_ANDA
VITE_EMAILJS_TEMPLATE_ID=ISI_DENGAN_TEMPLATE_ID_ANDA
VITE_EMAILJS_CONTACT_TEMPLATE_ID=ISI_DENGAN_CONTACT_TEMPLATE_ID_ANDA
VITE_EMAILJS_PUBLIC_KEY=ISI_DENGAN_PUBLIC_KEY_ANDA
VITE_NEWS_API_KEY=ISI_DENGAN_API_KEY_ANDA (Opsional)
